Packages
.build
xcuserdata
*.xcodeproj
DerivedData/
.DS_Store
db.sqlite
.swiftpm
.env
.env.*
!.env.example
default.profraw
*.d
*.dia
*.swiftdeps
*.swiftmodule
.claude
.idea
CLAUDE.md
sha256:*
extracting
transferring
resolve
=
